#clock {
  display:inline-block;
  width:192px;
  margin:0.5em 1em;
  border:4px solid; border-radius:8px;
  padding:0.5em 0.75em;
  cursor:pointer;
  text-align:left;

  color:#333; background:#fff;
  &.stop {
	color:#33333380;
  }
  .dt { color:#336; }
  @media (prefers-color-scheme: dark) {
	color:#fff; background:#333;
	&.stop {
	  color:#ffffff80;
	}
	border-color:#ccc;
	.dt { color:#ccf; }
  }

  font-family:arial; 
  .dt { font-size:20pt; }
  .tm {
	font-size:40pt; font-weight:bold;
  }
}

.pwa {
  overflow:hidden;
  width:100vw; height:100vh;
  #clock {
	width:90%; height:92%;
	position:fixed;
	left:5%; top:4%;
	display:block;
	margin:0;
  }
}
